.wpd-block-expand {
	$self: &;

	&_has-fadeout {

		&#{$self}_is-opened {

			#{$self}__intro {
				mask-image: linear-gradient(180deg, #000 calc(100% - var(--fadeout-height)), rgba(255, 255, 255, 0));
			}
		}
	}

	&_is-opened {

		#{$self}__button_more {
			display: inline-block;
		}
	}

	&__help {
		position: absolute;
		top: -5px;
		right: -5px;
		bottom: -5px;
		left: -5px;
		border-radius: 2px;
		box-shadow: 0 0 0 2px #1e1e1e;
	}

	&__help-text {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background: #1e1e1e;
		padding: 0 0.5em;
		font-size: 0.75em;
		font-weight: 500;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
		white-space: nowrap;

		&_top {
			bottom: 100%;
			border-radius: 2px 2px 0 0;
		}

		&_bottom {
			top: 100%;
			border-radius: 0 0 2px 2px;
		}
	}
}
