.innocode-block-expand {
	$self: &;

	&_has-fadeout {

		&#{$self}_is-opened {

			#{$self}__intro {
				mask-image: linear-gradient(180deg, #000 calc(100% - var(--fadeout-height)), rgba(255, 255, 255, 0));
			}
		}
	}

	&_is-opened {

		#{$self}__button_more {
			display: inline-block;
		}
	}
}
