/* stylelint-disable selector-class-pattern */
.innocode-block-expand {

	&__before-text,
	&__after-text {

		p {
			margin: 0 0 20px;
		}
	}

	&__before-text {

		&.faded {
			mask-image: linear-gradient(180deg, #000 calc(100% - var(--fadeout-height)), rgba(255, 255, 255, 0));

			.expanded & {
				mask-image: none;
			}
		}
	}

	&__after-text {
		display: none;

		.expanded & {
			display: block;
		}
	}

	& &__button {
		display: inline-block;
		border: none;
		outline: none;
		font-size: 16px;
		font-weight: 500;

		&_button {
			min-width: 140px;
			min-height: 60px;
			padding: 10px 25px;
			background: #7ea7ac;
			color: #fff;
		}

		&_link {
			padding: 5px 0;
			background: none !important;
			color: #7ea7ac !important;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__less {
		display: none;
	}

	&.expanded {

		.innocode-block-expand__more {
			display: none;
		}

		.innocode-block-expand__less {
			display: inline;
		}
	}
}
