.innocode-block-expand {
	$self: &;

	&_has-fadeout {

		#{$self}__intro {
			mask-image: linear-gradient(180deg, #000 calc(100% - var(--fadeout-height)), rgba(255, 255, 255, 0));
		}

		&#{$self}_is-opened {

			#{$self}__intro {
				mask-image: none;
			}
		}
	}

	&_is-opened {

		#{$self}__button_more {
			display: none;
		}
	}

	&_is-closed {

		#{$self}__content,
		#{$self}__button_less {
			display: none;
		}
	}

	&__intro {

		&_left {
			text-align: left;
		}

		&_center {
			text-align: center;
		}

		&_right {
			text-align: right;
		}
	}

	&__button {
		cursor: pointer;

		&_link {
			background: none;
			border: none;
			color: inherit;
			font-size: 1em;
			padding: 0;
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 0.25ch;
		}
	}
}
